<a href="https://colab.research.google.com/github/AbdulRauf96/Python-Pratice/blob/main/Python_Boot_Camp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pyhton Boot-Camp

This is a starter notebook to get a hang of some basic python functions and get started with coding. Here is an array of differnet functions that help you  get started with python.

In [10]:
#Some arthimetic operation 
print('The result of 5%3 is {}'.format(5%3))
print('The result of 5/3 is {}'.format(round(5/3)))
print('The result of 5*3 is {}'.format(5*3))

The result of 5%3 is 2
The result of 5/3 is 2
The result of 5*3 is 15

In [167]:
#Storing values in variables
spam = 40
display(spam) #display acts like print here a substitute to see two results in one cell
eggs = 2
spam + eggs

40

42

### Print Function

In [20]:
print('Hello World')
print(555, 867, 5309)
print('Hi''\n'"What's up") # a comma is not always needed. a '\n' means a line break

Hello World
555 867 5309
Hi
What's up

In [21]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [35]:
print('What time is it is?')
time = input()
print(f'Oh it is {time}')

What time is it is?
7 pm
Oh it is 7 pm

In [169]:
# Convert to  differnt data type
print(int(8.7))
print(str(8.7))
age = input()
print(f'He is {age} years old')

8
8.7
25
He is 25 years old

In [42]:
#Indexing and Slicing
spam = 'Hi there'
print(spam[0])
print(spam[4])
print(spam[-1])
print(spam[0:4])
print(spam[:5])

H
h
e
Hi t
Hi th

In [45]:
'Hi' in 'Hi There'
#Some string methods
print('Hello World'.upper())
print('Hello World'.lower())
print('Hello World'.islower())

HELLO WORLD
hello world
False

In [1]:
'My name is Rauf'.split()

['My', 'name', 'is', 'Rauf']

In [4]:
"apple.tree".find('tr')

'***************hello'

In [6]:
'hello'.rjust(20,'*')

'***************hello'

In [9]:
'hello'.center(20,'*')

'*******hello********'

### Part 3: Data Structure

1. Lists

In [28]:
mystr =  'apple,mango,pear,orange'
newlist = mystr.split(',')
print(newlist)

['apple', 'mango', 'pear', 'orange']

In [112]:
#make changes to a list - append
#append adds its argument as a single element to the end of the list. The length of the list increases by 1

mystr = 'apple,mango,pear,orange'
new = mystr.split(',')
new.append('dragonfruit')
new.extend(['tom','jerry'])
new.insert(0, 'omega')
new

['omega', 'apple', 'mango', 'pear', 'orange', 'dragonfruit', 'tom', 'jerry']

In [80]:
list_2 = ['A','B']
list_2.append(['C','D'])
list_2
del list_2[0]
print(list_2)
list_2.remove('B')
print(list_2)

['B', ['C', 'D']]
[['C', 'D']]

In [113]:
new.sort()
new

['apple', 'dragonfruit', 'jerry', 'mango', 'omega', 'orange', 'pear', 'tom']

2. Dictionaires

In [92]:
gradebook = {}
gradebook['Susan'] = 90
gradebook['Anthony'] = 95
gradebook['Tim'] = 85
gradebook['Young'] = [98,89]
gradebook

{'Anthony': 95, 'Susan': 90, 'Tim': 85, 'Young': [98, 89]}

In [95]:
gradebook.update({'Susan':97})
gradebook

{'Anthony': 95, 'Susan': 97, 'Tim': 85, 'Young': [98, 89]}

In [100]:
print(gradebook.keys())
print(gradebook.values())
print(gradebook.items())

dict_keys(['Susan', 'Anthony', 'Tim', 'Young'])
dict_values([97, 95, 85, [98, 89]])
dict_items([('Susan', 97), ('Anthony', 95), ('Tim', 85), ('Young', [98, 89])])

In [120]:
# Often when we copy a data structure like this 
new_2 = new
del new_2[1]
print(new_2)
print(new)

#it ends up altering the original structure instead of creating a copy
#this is known as a shallow copy

['apple', 'jerry', 'mango', 'omega', 'orange', 'pear', 'tom']
['apple', 'jerry', 'mango', 'omega', 'orange', 'pear', 'tom']

In [124]:
#while we can use a copy function to create a deep copy
new_3 = new.copy()
del new_3[0]
print(new_3)
print(new)

sorted(gradebook)
gradebook

['jerry', 'mango', 'omega', 'orange', 'pear', 'tom']
['apple', 'jerry', 'mango', 'omega', 'orange', 'pear', 'tom']

{'Anthony': 95, 'Susan': 97, 'Tim': 85, 'Young': [98, 89]}

In [128]:
#  We can concatenate a dictionary
dict_1 = {1:10, 2:20}
dict_2 = {3:30, 4:40}
dict_3 = {5:50, 6:60}

dict_4 = {}
for d in (dict_1, dict_2, dict_3):
  dict_4.update(d)

dict_4

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

Part 1: Functions

In [147]:
def yell_it():
  phrase = input('Input a phrase')
  print(phrase.upper()+'!')

yell_it()

Input a phrasehi
HI!

In [153]:
#taking input  from user
def yell_it(phrase):
  print(phrase.upper()+'!')

word = input('Input a phrase\n')
yell_it(word)

Input a phrase
hi
HI!

In [158]:
#Setting a default argument
def yell_it_a(phrase = 'hi'):
  print(phrase.upper()+'!')

word = input('Input a phrase\n')
yell_it_a()

Input a phrase
hi
HI!

In [165]:
#define a function with a return value
#create and call make_doctor() with full_name argument from user input - then print the return value

def make_doctor(name):
  Doctor = print('Dr. ' + name)
  return Doctor

name = input('Enter Name\n')
make_doctor(name)

Enter Name
Rauf
Dr. Rauf

Differences between local and global variables

In [174]:
def alpha():
  x = 10
  y = 20
  return x + y

display(alpha())
print(x)

# X is stored as a different variable in my global enviorment hence different results

30

omega