<a href="https://colab.research.google.com/github/AbdulRauf96/Python-Pratice/blob/main/Python_Boot_Camp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Boot-Camp

This is a starter notebook to get a hang of some basic python functions and get started with coding. Here is an array of differnet functions that help you  get started with python.

## Basics

In [ ]:
#Some arthimetic operation 
print('The result of 5%3 is {}'.format(5%3))
print('The result of 5/3 is {}'.format(round(5/3)))
print('The result of 5*3 is {}'.format(5*3))

The result of 5%3 is 2
The result of 5/3 is 2
The result of 5*3 is 15

In [ ]:
#Storing values in variables
spam = 40
display(spam) #display acts like print here a substitute to see two results in one cell
eggs = 2
spam + eggs

40

42

### Print Function

In [ ]:
print('Hello World')
print(555, 867, 5309)
print('Hi''\n'"What's up") # a comma is not always needed. a '\n' means a line break

Hello World
555 867 5309
Hi
What's up

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
print('What time is it is?')
time = input()
print(f'Oh it is {time}')

What time is it is?
1 am
Oh it is 1 am

In [ ]:
# Convert to  differnt data type
print(int(8.7))
print(str(8.7))
age = input()
print(f'He is {age} years old')

8
8.7
25
He is 25 years old

In [ ]:
#Indexing and Slicing
spam = 'Hi there'
print(spam[0])
print(spam[4])
print(spam[-1])
print(spam[0:4])
print(spam[:5])

H
h
e
Hi t
Hi th

In [ ]:
'Hi' in 'Hi There'
#Some string methods
print('Hello World'.upper())
print('Hello World'.lower())
print('Hello World'.islower())

HELLO WORLD
hello world
False

In [ ]:
'My name is Rauf'.split()

['My', 'name', 'is', 'Rauf']

In [ ]:
"apple.tree".find('tr')

6

In [ ]:
'hello'.rjust(20,'*')

'***************hello'

In [ ]:
'hello'.center(20,'*')

'*******hello********'

### Part 3: Data Structure

1. Lists

In [ ]:
mystr =  'apple,mango,pear,orange'
newlist = mystr.split(',')
print(newlist)

['apple', 'mango', 'pear', 'orange']

In [ ]:
#make changes to a list - append
#append adds its argument as a single element to the end of the list. The length of the list increases by 1

mystr = 'apple,mango,pear,orange'
new = mystr.split(',')
new.append('dragonfruit')
new.extend(['tom','jerry'])
new.insert(0, 'omega')
new

['omega', 'apple', 'mango', 'pear', 'orange', 'dragonfruit', 'tom', 'jerry']

In [ ]:
list_2 = ['A','B']
list_2.append(['C','D'])
list_2
del list_2[0]
print(list_2)
list_2.remove('B')
print(list_2)

['B', ['C', 'D']]
[['C', 'D']]

In [ ]:
new.sort()
new

['apple', 'dragonfruit', 'jerry', 'mango', 'omega', 'orange', 'pear', 'tom']

2. Dictionaires

In [ ]:
gradebook = {}
gradebook['Susan'] = 90
gradebook['Anthony'] = 95
gradebook['Tim'] = 85
gradebook['Young'] = [98,89]
gradebook

{'Anthony': 95, 'Susan': 90, 'Tim': 85, 'Young': [98, 89]}

In [ ]:
gradebook.update({'Susan':97})
gradebook

{'Anthony': 95, 'Susan': 97, 'Tim': 85, 'Young': [98, 89]}

In [ ]:
print(gradebook.keys())
print(gradebook.values())
print(gradebook.items())

dict_keys(['Susan', 'Anthony', 'Tim', 'Young'])
dict_values([97, 95, 85, [98, 89]])
dict_items([('Susan', 97), ('Anthony', 95), ('Tim', 85), ('Young', [98, 89])])

In [ ]:
# Often when we copy a data structure like this 
new_2 = new
del new_2[1]
print(new_2)
print(new)

#it ends up altering the original structure instead of creating a copy
#this is known as a shallow copy

['apple', 'jerry', 'mango', 'omega', 'orange', 'pear', 'tom']
['apple', 'jerry', 'mango', 'omega', 'orange', 'pear', 'tom']

In [ ]:
#while we can use a copy function to create a deep copy
new_3 = new.copy()
del new_3[0]
print(new_3)
print(new)

sorted(gradebook)
gradebook

['jerry', 'mango', 'omega', 'orange', 'pear', 'tom']
['apple', 'jerry', 'mango', 'omega', 'orange', 'pear', 'tom']

{'Anthony': 95, 'Susan': 97, 'Tim': 85, 'Young': [98, 89]}

In [ ]:
#  We can concatenate a dictionary
dict_1 = {1:10, 2:20}
dict_2 = {3:30, 4:40}
dict_3 = {5:50, 6:60}

dict_4 = {}
for d in (dict_1, dict_2, dict_3):
  dict_4.update(d)

dict_4

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

Part 1: Functions

In [ ]:
def yell_it():
  phrase = input('Input a phrase')
  print(phrase.upper()+'!')

yell_it()

Input a phraseHi
HI!

In [ ]:
#taking input  from user
def yell_it(phrase):
  print(phrase.upper()+'!')

word = input('Input a phrase\n')
yell_it(word)

Input a phrase
Hello
HELLO!

In [ ]:
#Setting a default argument
def yell_it_a(phrase = 'hi'):
  print(phrase.upper()+'!')

word = input('Input a phrase\n')
yell_it_a()

Input a phrase
yo
HI!

In [ ]:
#define a function with a return value
#create and call make_doctor() with full_name argument from user input - then print the return value

def make_doctor(name):
  Doctor = print('Dr. ' + name)
  return Doctor

name = input('Enter Name\n')
make_doctor(name)

Enter Name
Rauf
Dr. Rauf

Differences between local and global variables

In [ ]:
x = 'omega'

def alpha():
  x = 10
  y = 20
  return x + y

display(alpha())
print(x)

# X is stored as a different variable in my global enviorment hence different results

30

omega

In [ ]:
#In the example above we defined X in two different instances. What would have if we don't define the variable in a local enviorment 

alpha = 6
def omega():
  return alpha

print(alpha)
omega()
#In this case it will take on the characteristic of the global variable

6

6

Control Flows

In [ ]:
#if, elif, else

def dice_roll(x):
  if x > 0:
    x = x - 1
  else:
    x += 1
  return x

x = -3
dice_roll(x)

# using elif

def dice_roll(x):
  if x > 0 and x < 4:
    x = x - 1
  elif x > 4 and x < 6:
    x += 5
  else:
    x += 1
  return x

x = 5
dice_roll(x)

10

In [ ]:
#While loops run till it is broken or a condition is fulfilled

familiar_name = ""

while True:
  familiar_name=input('Enter your name - character only:\n')
  if familiar_name.isalpha():
    print('nice name')
    break
  else:
    print("that doesn't seem right")

Enter your name - character only:
Rauf
nice name

In [ ]:
while True:
  sandwichtype=input("'c' for cheese and 'v' for veggie\n")

  if sandwichtype.lower() == 'c':
    print('Please select your cheese\n')
    while True:
      cheesetype=input("'s' for Swiss and 'a' for American\n")
      if cheesetype.lower() == 's':
        print('Here is your swiss cheese sandwich. Thank you.')
        break
      elif cheesetype.lower() == 'a':
        print("Here is your  American Cheese Sandwich. Thank you.")
        break
      else:
        print('Sorry, we do not have that type of cheese')
    break
  if sandwichtype.lower() == 'v':
    print("Here is your veggie sandwich. Thank you.")
    break
  else:
    print('Sorry, we do not this type of sandwich')

## Small Case Study

In [ ]:
#This uses a movie rating dataset from the following link: "https://grouplens.org/datasets/movielens/"
#Since I use google colab and I will also import a package to connect this notebook to my google drive

import numpy as np
import pandas as pd
from google.colab import drive

In [ ]:
drive.mount('/root/drive/')

Mounted at /root/drive/